---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- if page.hero -%}
    <img src="{{- page.hero | relative_url -}}" alt="" class="post-featured-image">
    {%- endif -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div class="page-navigation">
  <div class="nav-item">
    {% if page.next.url %}
    <a class="prev" href="{{page.next.url | relative_url}}">&laquo; {{page.next.title}}</a>
    {% endif %}
  </div>
  <div class="dummy-item"></div>
  <div class="nav-item">
    {% if page.previous.url %}
    <a class="next" href="{{page.previous.url | relative_url}}">{{page.previous.title}} &raquo;</a>
    {% endif %}
  </div>
</div>